.site-card-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.card-item-wrapper {
  width: calc((100% - 160px) / 4);
  margin: 20px;
  padding: 20px;
  background-color: burlywood;
}

.delete-btn {
  margin-top: 16px;
}
